#master {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
}

#description {
    resize: none;
}

#errorDescription,
#errorTitle,
#errorStartTime,
#errorStartPrice,
#errorMaxPrice {
    display: none;
}