#title-my_auctions {
    margin-top: 50px;
}

/*============| Add auction |===========*/
.add_auction {
    width: 750px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #2AA6FF;
    color: white;
    font-size: 42px;
    font-weight: lighter;

    cursor: pointer;
}

.add_auction:hover {
    background: #0079D1;
}

.add_auction:active {
    background: #0063AB;
}

a {
    text-decoration: none;
}

/*=============| Toggle |=============*/
#checkbox-finished,
#checkbox-active {
    margin-left: 50px;
}