#title-create_auction {
    margin-top: 50px;
}

.card {
    margin: 50px auto 0;
    max-width: 700px;
    padding: 30px;
}

#input-title {
    width: 100%;
}

#description-container,
#start_price-container,
#start_time-container,
#btn-create_auction {
    margin-top: 30px;
}

#max_price-container,
#finish_time-container {
    margin-top: 20px;
}

#textarea-description {
    min-width: 100%;
}

.number_input {
    width: 150px;
}

