.info_blocks-container {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;
}

#info_block-left,
#info_block-right {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column;
}
/*=============| Left info |============*/
.photos-view {
    display: flex;
    flex-flow: column;
}

.photos-control {
    display: flex;
    justify-content: center;
}

.current-photo-item {
    margin: 0 auto;
    height: 300px;
    border-radius: 5px;
}

.photos-control {
    margin: 20px 0;

    padding-bottom: 20px;
    border-bottom: 3px solid #0087E9;
}

.photo-item {
    width: 50px;
    margin: 0 5px;
    border: 1px solid #2AA6FF;
    border-radius: 5px;

    cursor: pointer;
}

.photo-item-active {
    border: 3px solid #0087E9;
}

.info {
    display: flex;
    font-size: 28px;

    margin-bottom: 10px;
}

.info-title {
    font-weight: 500;
    color: #0087E9;
}

.info-value {
    flex-grow: 1;
    text-align: center;
    font-weight: 400;
    color: #2AA6FF;
}

#info-title-start_price:before,
#info-title-current_price:before {
    content: '$ ';
}

#btn-bid-container {
    flex-grow: 1;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-bid {
    font-size: 28px;
    height: 50px;
}

/*=============| Right info |============*/
.lot_title {
    color: #0087E9;
    font-size: 28px;
    font-weight: 500;

    margin-bottom: 20px;
}

.lot_description {
    border-top: 2px solid #0087E9;
    border-bottom: 2px solid #0087E9;
    padding: 5px 0;

    font-size: 18px;
    color: #2AA6FF;
}

.additional_info {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.additional_info-item {
    display: flex;
    flex-flow: column;
    align-items: center;

    color: #2AA6FF;
    font-size: 21px;
}

.additional_info-item-title {
    color: #0079D1;
    font-weight: 500;
    font-size: 18px;
}

.rate-container img {
    height: 23px;
}

.rate-container span {
    margin-bottom: 10px;
}

.status-container {
    height: 150px;

    border: 1px solid;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
}

.status-time {
    border-color: #0087E9;
    background: #E6F3FD;

    color: #0087E9;
}

.status-winner {
    border-color: #00CA14;
    background: #E6FDE8;

    color: #00CA14;
}

.status-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
}

.status_info-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.status_info-bottom {
    font-weight: 300;
}

#btn-feedbacks-container {
    flex-grow: 1;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*===============| Feedbacks |==============*/
.feedbacks {
    margin: 70px 0;
}

.feedbacks-container {
    padding: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.user-feedback {
    padding: 20px;
    width: 700px;
}

.user-feedback h3 {
}

.user-feedback textarea {
    margin-top: -30px;

    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 200px;
}

.user-feedback-control {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.evaluation {
    color: #0079D1;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 21px;
}

.evaluation:after {
    content: '/5';
}

.feedback-evaluation-container {
    display: flex;
}

.evaluation_start {
    cursor: pointer;
    opacity: 50%;

    width: 25px;
    margin-right: 5px;
}

.evaluation_start-active {
    opacity: 100%;
}
