*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: heebo, serif;
}

#main_container {
    margin: 0 auto;
    max-width: 1200px;
}

#header-logo {
    display: flex;
}

#logo {
    width: 300px;
    margin: 70px auto auto;
}

#p-registration {
    text-align: center;
    margin-top: 150px;
    font-size: 36px;
    font-weight: 400;
    color: #0079D1;
}

.auth_item {
    display: block;
    width: 250px;
    margin: 20px auto 0;
}

.auth_item p {
    margin: 0 0 2px 3px;
    font-size: 18px;
    color: #0087E9;
}

.auth_item .text_input {
    width: 250px;
    height: 25px;
    font-size: 14px;
    font-weight: 300;

    padding-left: 10px;

    border: 1px solid rgba(196, 196, 196, 0.75);
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.1);
}

.auth_item .text_input:focus {
    color: rgba(80, 80, 80, 1);
    outline-color: rgba(42, 166, 255, 1);
    outline-width: 1px;
}

.auth_item .text_input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.auth_item label {
    cursor: pointer;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

.btn {
    cursor: pointer;

    padding-top: 7px;

    margin-right: auto;
    margin-left: auto;
    background: rgba(0, 135, 233, 1);
    border-radius: 5px;
    width: 150px;
    height: 35px;
    box-shadow: 1px 1px 0 1px rgba(42, 166, 255, 1);

    text-align: center;

    color: rgba(249, 249, 249, 1);
    font-size: 16px;
    font-weight: 300;
}

.btn a {
}

.btn:hover {
    background: rgba(0, 121, 209, 1);
    box-shadow: 1px 1px 0 1px rgba(0, 135, 233, 1);
}

#btn-create {
    margin-top: 40px;
    margin-bottom: 60px;
}

#a-login {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 42.5%;
}
#a-login:hover {
    color: rgba(42, 166, 255, 1);
}

