#title-my_account {
    margin-top: 50px;
}

.card {
    margin: 50px auto 0;
    max-width: 500px;
    padding: 30px;
}

.text_input-item {
    margin-top: 30px;
}

#btn-save_login, #btn-add_money {
    margin-left: 30px;
    width: 100px;
}

#change_pass_btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#input-confirm_pass {
    margin-top: 30px;
}

#info_text {
    width: 350px;
}

input::before {
    content: "asdfasdf$";
}