#title-advanced_search {
    margin-top: 100px;
}

.search-card {
    width: 700px;
    margin: 50px auto 0;
    padding: 30px;
}

.text-search label,
.prop-search h4 {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #0087E9;
}

.text_input {
    width: 450px;
}

#description {
    margin-top: 20px;
}

#btn-title_search,
#btn-description_search {
    margin-left: 50px;
    width: 70px;
}

.prop-search {
    margin-top: 20px;
}

.prop-search-container {
    display: flex;
    flex-flow: column;
    margin-top: 5px;
    margin-left: 10px;
}

.number_input {
    width: 100px;
}

#range-rate {
    width: 200px;
}

#p-rate {
    margin-left: 20px;
    display: inline;
    color: #0087E9;
}

#p-rate:after {
    content: ' Star(s)';
}

.btn-container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

#btn-adv_search {
    font-size: 21px;
    width: 250px;
    height: 50px;
}